/* --- [ NAVIGATION ] --- */
nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-bottom: 30px;
    font-size: 1.8rem;
    position: relative;
    z-index: 99;
}

nav a {
    cursor: pointer;
    padding: 1rem 1.5rem;
    color: var(--main-color);
    border: 1px solid transparent;
    text-decoration: none;
    min-width: 4.4rem;
    text-align: center;
    font-size: 1.8rem;
    background-color: transparent;
}

nav a.active, nav a:hover {
    background-color: var(--main-color);
    color: #000000;
    border-color: var(--main-color);
    font-weight: bold;
}
